<div id="header" class="sticky header-md clearfix">
  <header id="topNav">
    <div class="container">
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="logo pull-left scrollTo" href="#top">
        <%= image_tag 'smarty/logo_dark.png' %>
      </a>
      <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
            <li class="active"><a href="#slider"> HOME </a></li>
            <li><a href="#news"> NEWS </a></li>
            <li><a href="#events"> EVENTS </a></li>
            <li><a href="#reservation"> RESERVATION </a></li>
            <li>
              <a class="external" href="blog-default-aside-left.html">
                BLOG
              </a>
            </li>
            <li><a href="#contact"> CONTACT </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>
