<div id="header" class="clearfix">
  <div class="search-box over-header">
    <a id="closeSearch" href="#" class="glyphicon glyphicon-remove"></a>

    <form action="#todo" method="get">
      <input type="text" class="form-control" placeholder="SEARCH" />
    </form>
  </div>

  <header id="topNav">
    <div class="container">
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <ul class="pull-right nav nav-pills nav-second-main">
        <% if current_user != nil %>
          <li>
            <%= link_to current_user.email, edit_user_registration_path %>
          </li>
          <li>
            <%= link_to destroy_user_session_url do %>
              <i class="fa fa-sign-out"></i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_url do %>
              <i class="fa fa-sign-in"></i>
            <% end %>
          </li>
        <% end %>
        <li class="search">
          <a href="javascript:;">
            <i class="fa fa-search"></i>
          </a>
        </li>
      </ul>

      <a class="logo pull-left" href="/">
        <%= image_tag 'smarty/logo_dark.png' %>
      </a>

      <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
            <li class="active"><a href="#slider"> HOME </a></li>
            <li><a href="#news"> NEWS </a></li>
            <li><a href="#events"> EVENTS </a></li>
            <li>
              <a class="external" href="blog-default-aside-left.html">
                BLOG
              </a>
            </li>
            <li>
              <a class="external" href="/team">
                TEAM
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>
