<section class="page-header page-header-xs">
  <div class="container">
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="#">Home</a></li>
      <li>Profiles</li>
      <li class="active"><%= @user.full_name %></li>
    </ol>
  </div>
</section>
