<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received an invitation for <%= @invite.team.name %>.</h1>
    <p>
      To accept the invite, simply follow this link: <%= @invite_url %>
    </p>
    <p>Cheers!</p>
  </body>
</html>
