<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have received an invitation for <%= @invite.team.name %>.</p>
    <p>
      To accept the invite, you must register through this link: <br /> <%= @invite_url %>
    </p>
    <p>Cheers!</p>
  </body>
</html>
