<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received an invitation for <%= @invite.team.name %>.</h1>
    <p>
      Visit the site in order to choose whether to accept or decline the invite.<br />
    </p>
    <p>Cheers!</p>
  </body>
</html>
