<section class="page-header page-header-xs">
  <div class="container">
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">Blog</a></li>
      <li class="<%= 'active' if params[:tag] == nil %>"><a href="/blog">Posts</a></li>
      <% if params[:tag] %>
        <li class="active"><%= params[:tag] %></li>
      <% end %>
    </ol>
  </div>
</section>

<section>
  <div class="container">
    <% if @posts.any? %>
      <%= render partial: "blogit/posts/post",
        collection: @posts,
        locals: {
          show_comments_count: (Blogit.configuration.include_comments == :active_records) 
        }  %>
    <% else %>
      No posts so far, check again later :)
    <% end %>

    <%= paginate(@posts) %>
  </div>
</section>
