<!DOCTYPE html>
<html>
<head>
  <title>Hacklet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="smoothscroll enable-animation">

  <div id="slidetop">

  </div>

  <div id="wrapper">
    <div id="topBar">

    </div>

    <div id="header">

    </div>

    <%= yield %>
  </div>

  <footer id="footer">
    
  </footer>
</body>
</html>
