<div id="comments" class="comments">
  <h4 class="page-header margin-bottom-60 size-20">
    <span><%= post.comments.count %></span> COMMENTS
  </h4>
  <%= render post.comments %>

  <%= render partial: "blogit/comments/form", locals: { post: post, comment: comment } %>
</div>
