<% if comment.persisted? %>
  <div class="comment-item">
    <!--
      <span class="user-avatar">
      <img class="pull-left media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
      </span>
    -->

    <div class="media-body">
      <a href="#comment-form" class="scrollTo comment-reply">reply</a>
      <h4 class="media-heading bold">
        <%= comment.name %>

        <% if comment.website? %>
          <small>
            <%= link_to comment.website, comment.website %>
          </small>
        <% end %>
      </h4>
      <small class="block">
        <%= time_tag(comment.created_at, format: blogit_conf.datetime_format) %>
      </small>
      <br />

      <%= format_content(comment.body.to_s) %>
    </div>
  </div>
<% end %>
